body{
    margin: 0;
    padding: 0;   
    background-color: #202226;
    background-image: url(/img/imagem/pexels-eva-elijas-7629493.jpg);
    background-size: 1280px 849px;
    background-repeat: repeat;
}
.content{
    margin: auto;
    max-width: 1080px;
    min-width: 640px;
}
#navigation{
    position: relative;
    background-color: #202226;
    height: 80px;   
    width: 100%;   
}
.div-icon{
    position:absolute;
    right: 20px;    
    bottom: 25%;
}
.div-link{
    position: absolute;
    right:160px;
    bottom:25%;    
}
.nome{
    position:absolute;
    left:10px;
    font-style: italic;
    color: #DB8C1D;
    top:22%;
}
.icon{
    margin-right: 5px;
    font-size: 30px;
    color: #DB8C1D;
}
.link{
    text-decoration: none;
    font-family: "mallanna";
    font-size: 15px;
    font-style: italic;
    color: #FFF;
}
.nome:hover{
    color: aliceblue;
    transition-duration: 1s; 
    
}
.icon:hover{
    color: aliceblue;
    transition-duration: 1s;
    cursor:pointer;
}
.link:hover{
    color: #DB8C1D;
    transition-duration: 1s;
    cursor:pointer;
}

.subnavi{
    position: relative;
    background-image: url(/img/imagem/teclado-preto.jpg);
    background-size: 1280px 1000px;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}
 .img-central{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;    
    bottom: 25%;
 }
.img-centro-header{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #0597F2;
    border-width: 2px;
    border-radius: 20px; 
}
.img-centro-header:hover{
    border-color: #DB8C1D;
    transition-duration: 1s;
    border-width: 3px;
    border-radius: 50px;
}
.rodape{
    position: relative;
    width: 100%;
    height: 150px;
    background-color:#C5CED9;
}

.icons-rodape{
    position: absolute;
    
    left: 10%;
    top: 7%;
}
.link-rodape{
    position: absolute;
    left: 40%;
    top: 12%;
}
.link-roda{
    display: block;
    text-decoration: none;
    font-family: "mallanna";
    font-size: 25px;
    font-style: italic;
    color: #283540;
}
.icons-roda{
    display: block;
    color: #283540;
    margin: 2px;
    font-size: 40px;
}
.link-roda:hover{
    color: #DB8C1D;
    transition-duration: 1s;
    cursor:pointer;
}
.icons-roda:hover{
    color:#DB8C1D;
    transition-duration: 1s;
    cursor:pointer;
}