body{
    margin: 0;
    padding: 0;   
    background-color: #202226;
    background-image: url(/img/imagem/pexels-eva-elijas-7629493.jpg);
    background-size: 1280px 849px;
    background-repeat: repeat;
}
/* Div que contém toda a pagina dentro do body */
.content{
    margin: auto;
    max-width: 1080px;
    min-width: 640px;
}
/* Nav de barra superior de navegação */
#navigation{
    position: relative;
    background-color: #202226;
    height: 80px;   
    width: 100%;   
}
/* Div container de icones dentro da barra de navegação */
.div-icon{
    position:absolute;
    right: 30px;    
    bottom: 25%;
}
/* Div de links dentro da barra de navegação */
.div-link{
    position: absolute;
    right:180px;
    bottom:25%;    
}
/* H2 de nome dentro da barra de navegação */
.nome{
    position:absolute;
    left:30px;
    font-style: italic;
    color: #DB8C1D;
    top:22%;
}
/* Estilo dos icones dentro da div na  barra de navegação */
.icon{
    margin-right: 5px;
    font-size: 30px;
    color: #DB8C1D;
}
/* Estilo dos links dentro da viv de link na barra de navegação */
.link{
    text-decoration: none;
    font-family: "mallanna";
    font-size: 15px;
    font-style: italic;
    color: #FFF;
}
/* Efeitos de hover no nome */
.nome:hover{
    color: aliceblue;
    transition-duration: 1s; 
    
}
/* Efeitos de hover dos icones */
.icon:hover{
    color: aliceblue;
    transition-duration: 2s;
    cursor:pointer;
    transform:rotate(360deg) ;
}/* Efeitos de hover de links */
.link:hover{
    color: #DB8C1D;
    transition-duration: 1s;
    cursor:pointer;
}
/* Espaço central abaixo da NAV e sobre o rodapé */
.subnavi{
    position: relative;
    background-image: url(/img/imagem/teclado-preto.jpg);
    background-size: 1280px 1000px;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}
/* Div que contém a imagem central */
 .img-central{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;    
    bottom: 25%;
 }
 /* Imagem central */
.img-centro-header{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #0597F2;
    border-width: 2px;
    border-radius: 20px; 
}
/* Efeito de hover ne imagem central */
.img-centro-header:hover{
    border-color: #DB8C1D;
    transition-duration: 2s;
    border-width: 5px;
    border-radius: 120px;
}
/* Div rodapé  */
.rodape{
    position: relative;
    width: 100%;
    height: 150px;
    background-color:#C5CED9;
}
/* Div de icones do rodapé */
.icons-rodape{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 10%;
    top: 7%;
    top: 30px;
}
/* Div de links do rodapé */
.link-rodape{
    position: absolute;
    left: 40%;
    top: 12%;
}
/* Estilos dos links dentro da div de links do rodapé */
.link-roda{
    display: block;
    text-decoration: none;
    font-family: "mallanna";
    font-size: 25px;
    font-style: italic;
    color: #283540;
}
/* Estilos dos icones dentro da div de icones do rodapé */
.icons-roda{
    color: #283540;
    font-size: 60px;    
    margin: 10px;
}
/* Efeitos de hover dos links do rodapé */
.link-roda:hover{
    color: #DB8C1D;
    transition-duration: 1s;
    cursor:pointer;
}
/* Efeitos de hover dos icones dentro do rodapé */
.icons-roda:hover{
    color:#DB8C1D;
    transition-duration: 2s;
    cursor:pointer;
    transform:rotate(360deg) ;
}
/*Texto sobre o designer */
.designer{
    position:absolute;
    right: 90px;
    font-style: italic;
    margin: auto;
    height: 90%;
    cursor:pointer;
}
